
            <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
                <div class="container">
                  <div class="row align-items-center">
                    <div class="col-lg-3 ml-auto">
                      
                    </div>
                    <div class="col-lg order-lg-first">
                      <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                        <li class="nav-item">
                          <a href="/" class="nav-link"><i class="fe fe-home"></i> Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a href="/dataset" class="nav-link"><i class="fe fe-grid"></i> Table de données</a>
                        </li>
                        <li class="nav-item" id='tweet_tab' style='display:none;'>
                          <a href="/tweet" class="nav-link"><i class="fe fe-twitter"></i> Tweet</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
            </div>
            <script>
                $( document ).ready(function() {
                    $( 'a[href*="/"]' ).removeClass('active');

                    if(window.location.pathname.includes("/tweet"))
                    {
                        $( 'a[href*="/tweet"]' ).addClass('active');
                    }
                    else if(window.location.pathname.includes("/dataset"))
                    {
                        $( 'a[href*="/dataset"]' ).addClass('active');
                    }
                    else
                    {
                        $( 'a[href="/"]' ).addClass('active');
                    }
                });

            </script>             